NAC1-WS-RemedioManager/WebContent/wsdl/ProviderManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manager.fiap.com.br"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manager.fiap.com.br"
	xmlns:intf="http://manager.fiap.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://manager.fiap.com.br"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="cadastrarPessoa">
				<complexType>
					<sequence>
						<element name="cpf" type="xsd:long" />
						<element name="nome" type="xsd:string" />
						<element name="idade" type="xsd:int" />
						<element name="sexo" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="cadastrarPessoaResponse">
				<complexType>
					<sequence>
						<element name="cadastrarPessoaReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>

	<wsdl:message name="cadastrarPessoaResponse">

		<wsdl:part element="impl:cadastrarPessoaResponse" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="cadastrarPessoaRequest">

		<wsdl:part element="impl:cadastrarPessoa" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:portType name="ProviderManager">

		<wsdl:operation name="cadastrarPessoa">

			<wsdl:input message="impl:cadastrarPessoaRequest" name="cadastrarPessoaRequest">

			</wsdl:input>

			<wsdl:output message="impl:cadastrarPessoaResponse" name="cadastrarPessoaResponse">

			</wsdl:output>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="ProviderManagerSoapBinding" type="impl:ProviderManager">

		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="cadastrarPessoa">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="cadastrarPessoaRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="cadastrarPessoaResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="ProviderManagerService">

		<wsdl:port binding="impl:ProviderManagerSoapBinding" name="ProviderManager">

			<wsdlsoap:address
				location="http://tempuri.org/NAC1-WS-RemedioManager/services/ProviderManager" />

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
